---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Webring | Stefan Asandei"
  description="This is my webring, a list of links to the social pages of people I follow.."
  permalink="stefan-asandei.cf/webring"
>
  <main>
    <h1>Cool people creating content online:</h1>
    <ul>
      <li><a href="https://www.youtube.com/@TheCherno">Yan Chernikov</a></li>
      <li><a href="https://alain.xyz">Alain Galvan</a></li>
      <li><a href="https://saschawillems.de">Sascha Willems</a></li>
      <li><a href="https://www.josuttis.com/">Nicolai Josuttis</a></li>
      <li><a href="https://iquilezles.org/">Inigo Quilez</a></li>
      <li><a href="https://mamoniem.com/">Mamoniem</a></li>
      <li><a href="https://mihairadu.cf">Mihai Radu</a></li>
      <li><a href="https://twitter.com/SebAaltonen">Sebastian Aaltonen</a></li>
      <li><a href="https://lexfridman.com/podcast/">Lex Fridman</a></li>
      <li><a href="https://lukesmith.xyz">Luke Smith</a></li>
      <li><a href="https://odysee.com/@AlphaNerd:8">Mental Outlaw</a></li>
    </ul>
  </main>
</Layout>

<style></style>
