<header>
  <a href="/" class="logo"> Stefan Asandei</a>
  <div class="row">
    <a href="/blog" class="not-selected"> Blog</a>
    <a href="/projects" class="not-selected too-big"> Projects</a>
    <!-- <a href="/webring" class="not-selected webring">
      <span>Webring</span>
    </a> -->
  </div>
</header>
